{% extends 'mail.html.twig' %}

{% block body %}

    <p>Sing Up Confirm Link:</p>

    {% set url = url('auth_signup_confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}