{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>
    <a type="button" class="btn btn-primary" href="{{ path('post_index') }}">Back to list</a>

    {{ include('post/_form.html.twig') }}


{% endblock %}
